body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0px;
    padding: 0px;
}
/*INDEX*/

#inventory-section, #add-product-form {
    margin: 20px;
    padding: 20px;
    text-align: left;
}

button {
    margin: 5px;
}

#message {
    color: green;
    font-weight: bold;
}

#product-list {
    list-style-type: none;
    padding: 0px;
}

li {
    margin: 5px;
    padding: 8px;
    background-color: #057f9ac5;
    border-radius: 50px;
    font-family: 'Merienda', cursive;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

li div{
    display: flex;
    gap: 30px;
    margin-left: 50px;
    align-items: center;
}

#edit{
    display: none;
}

.banner{
    margin: 0px;
}

h2{
    font-family: 'Merienda', cursive;
}

.inputs{
    display: grid;
    text-align: start;
    justify-content: center;
    margin: 20px;
}

.inputs input{
    width: 500px;
    padding: 8px;
    border-radius: 8px;
    border: 2px solid #057f9a;
    font-family: 'Merienda', cursive;
}
.inputs label{
    font-family: 'Merienda', cursive;
}

.inputs a{
    color: gray;
    text-decoration: none;
    text-align: end;
}

#login-section button{
    font-family: 'Merienda', cursive;
    background-color: #057f9a;
    padding: 10px;
    color: white;
    border: 0px;
    border-radius: 14px;
}

body::-webkit-scrollbar {
    width: 4px;     /* Tamaño del scroll en vertical */
    height: 4px;    /* Tamaño del scroll en horizontal */
}
body::-webkit-scrollbar-thumb {
    background: #057f9a;
    border-radius: 4px;
}

.login-google{
    display: flex;
    justify-content: center;
}

#login-section2{
    display: none;
    flex-direction: column;
}

#login-form2{
    display: grid;
    margin: auto;
    gap:20px;
}

#login-form2 input{
    width: 500px;
    padding: 8px;
    border-radius: 8px;
    border: 2px solid #057f9a;
    font-family: 'Merienda', cursive;
}

#login-form2 button{
    font-family: 'Merienda', cursive;
    background-color: #057f9a;
    padding: 10px;
    color: white;
    border: 0px;
    border-radius: 14px;
}
/*FIN INDEX*/

/*ADMIN*/

#product-form input{
    border: 3px solid #057f9a;
    padding: 10px;
    border-radius: 10px;
    font-family: 'Merienda', cursive;
    margin: 10px;
}

#product-form Button{
    padding: 10px 40px;
    border-radius: 50px;
    font-family: 'Merienda', cursive;
    background: #057f9a;
    border: 0px;
    font-size: 15px;
    color: white;
    margin-left: 40px;
}

#product-form Button{
    padding: 10px 40px;
    border-radius: 50px;
    font-family: 'Merienda', cursive;
    background: #057f9a;
    border: 0px;
    font-size: 15px;
    color: white;
    margin-left: 40px;
}

li button{
    padding: 8px 30px;
    border-radius: 50px;
    font-family: 'Merienda', cursive;
    background: #057f9a;
    border: 0px;
    font-size: 13px;
    color: white;
}

.exportar{
    display: flex;
    justify-content: space-between;
}

.exportar button{
    padding: 0px 40px;
    border-radius: 50px;
    font-family: 'Merienda', cursive;
    background: #057f9a;
    border: 0px;
    font-size: 15px;
    height: 50px;
    color: white;
}

.mensaje{
    display: flex;
    gap: 20px;
    justify-content: center;
    font-family: 'Merienda', cursive;
    font-size: 20px;
}

.bienvenida{
    background-color: #057f9a;
    color: white;
    padding: 10px;
    font-family: 'Merienda', cursive;
    font-size: 15px;
}
/*FIN ADMIN*/